force-app/main/default/flows/AccountType_From_oppoStage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_2</name>
        <label>Assign_2</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Value_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_opportunity_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_A</name>
        <label>Assign_A</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Value_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_opportunity_records.Probability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Oppo_Assign_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Oppo_Assign_Var</name>
        <label>Assign to Oppo_Assign_Var</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Oppo_Assign_Var.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_opportunity_records.Probability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Oppo_Assign_Var.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_opportunity_records.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Oppo_Assign_Var.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_opportunity_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OppoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OppoCollection</name>
        <label>Oppo_Collection</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Oppo_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Oppo_Assign_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>qqq</name>
        <label>qqq</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>tt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oppo_Assign_Var.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Value_2</elementReference>
                </rightValue>
            </conditions>
            <label>tt</label>
        </rules>
    </decisions>
    <interviewLabel>AccountType_From_oppoStage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountType_From_oppoStage</label>
    <loops>
        <name>Loop_opportunity_records</name>
        <label>Loop opportunity records</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_Opp_linked_with_fetched_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_A</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>qqq</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Form_opportunity</name>
        <label>Get Account Form opportunity</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Opp_linked_with_fetched_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opp_linked_with_fetched_account</name>
        <label>Get All Opp linked with fetched account</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_opportunity_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Form_opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Form_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Oppo_Assign_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Oppo_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Value_1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Value_2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_B</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
