force-app/main/default/flows/AccountPrivateGroupCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>groupname</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; - Private Group&quot;</expression>
    </formulas>
    <interviewLabel>AccountPrivateGroupCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountPrivateGroupCreate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatePrivateGroup</name>
        <label>CreatePrivateGroup</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>update_rec</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>groupname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>CollaborationGroup</stringValue>
            </value>
        </inputAssignments>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>update_rec</name>
        <label>update rec</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>groupId__c</field>
            <value>
                <elementReference>CreatePrivateGroup</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreatePrivateGroup</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
