force-app/main/default/flows/Account_Type_From_Opportunity_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Highest_oppo</name>
        <label>Assign Highest oppo</label>
        <locationX>666</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Highest_Oppo.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>value_of_var1</name>
        <label>value_of_var1</label>
        <locationX>666</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Var_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.Probability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Highest_Oppo.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Highest_oppo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision1</name>
        <label>Decision1</label>
        <locationX>798</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Loop1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1.Probability</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Var_1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>value_of_var1</targetReference>
            </connector>
            <label>Greater than</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Path_to_choose</name>
        <label>Which Path to choose?</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>((1 AND 2) OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Highest_Oppo.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Highest_Oppo.Probability</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Highest_Oppo.Probability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Type_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Highest_Oppo.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Highest_Oppo.Probability</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Type_Prospect</targetReference>
            </connector>
            <label>Prospect</label>
        </rules>
        <rules>
            <name>Home_Buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Highest_Oppo.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Highest_Oppo.Probability</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Type_Home_buyer</targetReference>
            </connector>
            <label>Home Buyer</label>
        </rules>
        <rules>
            <name>Home_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Highest_Oppo.Probability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Type_Home_Owner</targetReference>
            </connector>
            <label>Home Owner</label>
        </rules>
    </decisions>
    <interviewLabel>Account Type From Opportunity Stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Type From Opportunity Stage</label>
    <loops>
        <name>Loop1</name>
        <label>Loop1</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Which_Path_to_choose</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opportunity</name>
        <label>Get All Opportunity</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Accounts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_Type_Home_buyer</name>
        <label>Account Type = Home buyer</label>
        <locationX>578</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <stringValue>Home Buyer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_Type_Home_Owner</name>
        <label>Account Type = Home Owner</label>
        <locationX>842</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <stringValue>Home Owner</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_Type_Lead</name>
        <label>Account Type = Lead</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_Type_Prospect</name>
        <label>Account Type = Prospect</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>500</triggerOrder>
    <variables>
        <name>Highest_Oppo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Var_1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
