force-app/main/default/flows/Aquamarine_Products_with_Opportunity_report_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Contact_1</name>
        <label>Assign Contact 1</label>
        <locationX>550</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Temp_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Temp_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Match_The_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_2</name>
        <label>Assign Contact 2</label>
        <locationX>396</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Contact_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Temp_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Match_Contact_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_3</name>
        <label>Assign Contact 3</label>
        <locationX>264</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>Contact_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Temp_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Match_Contact_Again</name>
        <label>Match Contact Again</label>
        <locationX>396</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Match_Again</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Temp_Var</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Contact_2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_3</targetReference>
            </connector>
            <label>Does Not Match Again</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_The_Contact</name>
        <label>Match The Contact</label>
        <locationX>550</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Temp_Var</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Contact_1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_2</targetReference>
            </connector>
            <label>Does Not Matches</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Aquamarine-Products with Opportunity report Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aquamarine-Products with Opportunity report Flow</label>
    <loops>
        <name>Loop_through_Contacts</name>
        <label>Loop through Contacts</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Contact_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Contact1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Temp_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
