force-app/main/default/flows/Assign_pricebook_based_on_oppo_record_type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_pricebook</name>
        <label>Assign pricebook</label>
        <locationX>415</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_pricebook</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Record_type</name>
        <label>Check Record type</label>
        <locationX>396</locationX>
        <locationY>260</locationY>
        <defaultConnectorLabel>NONE</defaultConnectorLabel>
        <rules>
            <name>Traders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Traders</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Traders_Pricebook</targetReference>
            </connector>
            <label>Traders</label>
        </rules>
        <rules>
            <name>Corporate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Corporate_Pricebook</targetReference>
            </connector>
            <label>Corporate</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_pricebook</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.RecordType.DeveloperName} =&apos;traders&apos;,{!Traders_Pricebook.Id} ,  IF({!$Record.RecordType.DeveloperName} =&apos;corporate&apos;,{!Corporate_Pricebook.Id} , {!$Record.Pricebook2Id}) )</expression>
    </formulas>
    <interviewLabel>Assign pricebook based on oppo record type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign pricebook based on oppo record type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Corporate_Pricebook</name>
        <label>Corporate Pricebook</label>
        <locationX>584</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Corporate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Traders_Pricebook</name>
        <label>Traders Pricebook</label>
        <locationX>256</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Traders</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>278</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Check_Record_type</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
