force-app/main/default/flows/Create_a_Slack_Channel_on_Account_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_New_Account_s_Channel</name>
        <label>Create New Account&apos;s Channel</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <actionName>slackCreateChannel</actionName>
        <actionType>slackCreateChannel</actionType>
        <connector>
            <targetReference>Store_the_Slack_Channel_Id_in_Account_s_Description</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isChannelPrivate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelName</name>
            <value>
                <stringValue>{!$Record.Name} </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForChannel</name>
            <value>
                <stringValue>TRGDE4EKB</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>TRGDE4EKB</stringValue>
            </value>
        </inputParameters>
        <nameSegment>slackCreateChannel</nameSegment>
        <outputParameters>
            <assignToReference>Slack_Channel_Id</assignToReference>
            <name>slackChannelId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create a Slack Channel on Account Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a Slack Channel on Account Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Store_the_Slack_Channel_Id_in_Account_s_Description</name>
        <label>Store the Slack Channel Id in Account&apos;s Description</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Slack_Channel_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Testing</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Create_New_Account_s_Channel</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Slack_Channel_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
