force-app/main/default/flows/Dummy_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>794</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>collcontact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>single_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Substarct_the_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values_1</name>
        <label>assign values 1</label>
        <locationX>572</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>single_var.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sample {!allocate_the_no_of_location}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_var.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Substarct_the_values</name>
        <label>Substarct the values</label>
        <locationX>1045</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>allocate_the_no_of_location</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_input</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_input</name>
        <label>check input</label>
        <locationX>562</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>create_contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>equal to 0</defaultConnectorLabel>
        <rules>
            <name>more_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allocate_the_no_of_location</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_values_1</targetReference>
            </connector>
            <label>more than 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Dummy flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dummy flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_contacts</name>
        <label>create contacts</label>
        <locationX>1096</locationX>
        <locationY>229</locationY>
        <inputReference>collcontact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_all_account</name>
        <label>get all account</label>
        <locationX>574</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>reclocationVar</assignToReference>
            <field>No_of_Location__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>107</locationX>
        <locationY>177</locationY>
        <connector>
            <targetReference>get_all_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>No_of_Location__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>allocate_the_no_of_location</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.No_of_Location__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>collcontact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>reclocationVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>single_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>substract_values</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
