force-app/main/default/flows/Feedback_Star_Rating_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_feedback_rating</name>
        <label>Assign feedback rating</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>feedback_rating_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Output_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_the_value</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_the_value</name>
        <label>Validate the value</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Did Not Entered</defaultConnectorLabel>
        <rules>
            <name>Entered_Rating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Output_var</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Record</targetReference>
            </connector>
            <label>Entered Rating</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Feedback Star-Rating Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Feedback Star-Rating Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Lead_Record</name>
        <label>Update Lead Record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Feedback_Rating__c</field>
            <value>
                <elementReference>feedback_rating_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>feedback_Screen</name>
        <label>feedback_Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_feedback_rating</targetReference>
        </connector>
        <fields>
            <name>feedback_rating</name>
            <extensionName>ManagedCodeDev:starRatingLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Output_var</assignToReference>
                <name>ratingValue</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>feedback_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>feedback_rating_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
