force-app/main/default/flows/Flow_to_Use_Apex_Invocable_action_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Output_Test</name>
        <label>Output Test</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>InvocableFlowAction_Output</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_contact_based_on_output_from_apex_class</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Age</name>
            <value>
                <numberValue>21.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Name</name>
            <value>
                <stringValue>VIVEK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Place</name>
            <value>
                <stringValue>Ahmedabad</stringValue>
            </value>
        </inputParameters>
        <nameSegment>InvocableFlowAction_Output</nameSegment>
        <outputParameters>
            <assignToReference>Age_Output</assignToReference>
            <name>Age</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Name_Output</assignToReference>
            <name>Name</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Place_Output</assignToReference>
            <name>Place</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Contact</name>
        <label>Send Email to Contact</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>InvocableFlowAction_Email</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Output_Test</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseNumber</name>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableFlowAction_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Flow to Use Apex Invocable action - Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to Use Apex Invocable action - Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_contact_based_on_output_from_apex_class</name>
        <label>update contact based on output from apex class</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name_Output</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_to_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Age_Output</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Name_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Place_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
