force-app/main/default/flows/Flow_to_Use_Apex_Invocable_action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Delete_The_Opportunities</name>
        <label>Delete The Opportunities</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>InvocableFlowAction1</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableFlowAction1</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Decide_the_path</name>
        <label>Decide the path</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>picklist_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_picklist_test__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Account_picklist_test__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_The_Opportunities</targetReference>
            </connector>
            <label>picklist changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow to Use Apex Invocable action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to Use Apex Invocable action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_the_path</targetReference>
        </connector>
        <filterLogic>3 AND (1 OR 2)</filterLogic>
        <filters>
            <field>Account_picklist_test__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_picklist_test__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_picklist_test__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
