force-app/main/default/flows/Lead_Scoring_BOREK_solutions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_CallCount</name>
        <label>Assign CallCount</label>
        <locationX>270</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>CallCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activity_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EmailCount</name>
        <label>Assign EmailCount</label>
        <locationX>534</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>EmailCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activity_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OtherCount</name>
        <label>Assign OtherCount</label>
        <locationX>1326</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>OtherCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activity_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SendLetterCount</name>
        <label>Assign SendLetterCount</label>
        <locationX>798</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>SendLetterCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activity_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SendQuoteCount</name>
        <label>Assign SendQuoteCount</label>
        <locationX>1062</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>SendQuoteCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activity_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Scores</name>
        <label>Assign the Scores</label>
        <locationX>50</locationX>
        <locationY>1188</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Score_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Lead_Score</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activities_Found</name>
        <label>Activities Found?</label>
        <locationX>380</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Does Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Activities_Related_to_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activity_Loop</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Lead_Score_0</name>
        <label>Compare Lead Score</label>
        <locationX>182</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Score__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Lead_Score_Var</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Scores</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Type_Paths</name>
        <label>Task Type Paths</label>
        <locationX>930</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Activity_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Loop.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CallCount</targetReference>
            </connector>
            <label>Call</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Loop.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EmailCount</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Send_Letter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Loop.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send Letter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SendLetterCount</targetReference>
            </connector>
            <label>Send Letter</label>
        </rules>
        <rules>
            <name>Send_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Loop.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SendQuoteCount</targetReference>
            </connector>
            <label>Send Quote</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Loop.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OtherCount</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Lead_Score_Var</name>
        <dataType>Number</dataType>
        <expression>{!CallCount}+
{!EmailCount}+
{!OtherCount}+
{!SendLetterCount}+
{!SendQuoteCount}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lead Scoring - BOREK solutions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Scoring - BOREK solutions</label>
    <loops>
        <name>Activity_Loop</name>
        <label>Activity Loop</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Activities_Related_to_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Task_Type_Paths</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Compare_Lead_Score_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Activities_Related_to_Lead</name>
        <label>Get Activities Related to Lead</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activities_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_fault_tasks</targetReference>
        </faultConnector>
        <filterLogic>5 AND (1 OR 2 OR 3 OR 4 OR 6)</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send Letter</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_fault_tasks</name>
        <label>Get fault tasks</label>
        <locationX>842</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>6 AND (1 OR 2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Send Letter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Send Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Lead_Score</name>
        <label>Update the Lead Score</label>
        <locationX>50</locationX>
        <locationY>1308</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Activities_Related_to_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activity_In_24_Hours__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-06-28</startDate>
            <startTime>13:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CallCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OtherCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SendLetterCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SendQuoteCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
