force-app/main/default/flows/Mixed_Practice_Oppo_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Address_1_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_2_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>path</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>path</name>
        <label>path</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add1_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Address_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address_1</targetReference>
            </connector>
            <label>Add1 Null</label>
        </rules>
        <rules>
            <name>Add2_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Address_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address_2</targetReference>
            </connector>
            <label>Add2 Null</label>
        </rules>
        <rules>
            <name>Add1_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Address_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Address_1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_updated_Add1_to_Add2</targetReference>
            </connector>
            <label>Add1 update</label>
        </rules>
        <rules>
            <name>Add2_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Address_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Address_2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_updated_Add2_to_Add1</targetReference>
            </connector>
            <label>Add2 update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Mixed Practice Oppo flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mixed Practice Oppo flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Address_1</name>
        <label>Update Address 1</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Address_1__c</field>
            <value>
                <elementReference>Address_2_var</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Address_2</name>
        <label>Update Address 2</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Address_2__c</field>
            <value>
                <elementReference>Address_1_var</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_updated_Add1_to_Add2</name>
        <label>Update updated Add1 to Add2</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Address_2__c</field>
            <value>
                <elementReference>$Record.Address_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_updated_Add2_to_Add1</name>
        <label>Update updated Add2 to Add1</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Address_1__c</field>
            <value>
                <elementReference>$Record.Address_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Address_1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Address_2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Address_1_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Address_2_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
