force-app/main/default/flows/N_TEX_Transfer_Single_industry_values_to_multi_select_industry_values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>924</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>Collection_of_Single_values</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lead_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_1</name>
        <label>Assign value 1</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>Lead_Loop.Multi_Select_Industry_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_2</name>
        <label>Assign value 2</label>
        <locationX>528</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>Lead_Loop.Multi_Select_Industry_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_3</name>
        <label>Assign value 3</label>
        <locationX>792</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>Lead_Loop.Multi_Select_Industry_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_4</name>
        <label>Assign value 4</label>
        <locationX>1056</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>Lead_Loop.Multi_Select_Industry_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_5</name>
        <label>Assign value 5</label>
        <locationX>1320</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>Lead_Loop.Multi_Select_Industry_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Compare_the_industry_values</name>
        <label>Compare the industry values</label>
        <locationX>924</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Loop.Single_Industry_Picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Loop.Single_Industry_Picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_2</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Loop.Single_Industry_Picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_3</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Loop.Single_Industry_Picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_4</targetReference>
            </connector>
            <label>4</label>
        </rules>
        <rules>
            <name>X5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Loop.Single_Industry_Picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_5</targetReference>
            </connector>
            <label>5</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>N-TEX Transfer Single industry values to multi-select industry values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N-TEX Transfer Single industry values to multi-select industry values</label>
    <loops>
        <name>Lead_Loop</name>
        <label>Lead Loop</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_all_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_the_industry_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead_s_Multi_select_picklist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Leads</name>
        <label>Get all Leads</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Single_Industry_Picklist__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_s_Multi_select_picklist</name>
        <label>Update Lead&apos;s Multi-select picklist</label>
        <locationX>176</locationX>
        <locationY>1068</locationY>
        <inputReference>Collection_of_Single_values</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Leads</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-08-25</startDate>
            <startTime>17:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection_of_Single_values</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
