force-app/main/default/flows/Practice_Oppo_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_values_to_var</name>
        <label>Assign values to var</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Address_1_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_2_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_On_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_On_Update</name>
        <label>Decision On Update</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Address_1_var</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_address_2</targetReference>
            </connector>
            <label>Address 1</label>
        </rules>
        <rules>
            <name>Address_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Address_2_var</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_address_1</targetReference>
            </connector>
            <label>Address 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Practice Oppo Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Practice Oppo Flow - Part 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_address_1</name>
        <label>Update address 1</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Address_1__c</field>
            <value>
                <elementReference>Address_2_var</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_address_2</name>
        <label>Update address 2</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Address_2__c</field>
            <value>
                <elementReference>Address_1_var</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_values_to_var</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Address_1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Address_2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Address_1_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Address_2_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
