force-app/main/default/flows/Practice_Oppo_Flow_Part_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Address_1_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_2_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_On_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_On_Update</name>
        <label>Decision On Update</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Address_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Address_1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address_2</targetReference>
            </connector>
            <label>Address 1</label>
        </rules>
        <rules>
            <name>Address_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Address_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Address_2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address_1</targetReference>
            </connector>
            <label>Address 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Practice Oppo Flow - Part - 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Practice Oppo Flow - Part - 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Address_1</name>
        <label>Update Address 1</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Address_1__c</field>
            <value>
                <elementReference>Address_2_Var</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Address_2</name>
        <label>Update Address 2</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Address_2__c</field>
            <value>
                <elementReference>Address_1_Var</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Address_1__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Address_2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Address_1_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Address_2_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
