force-app/main/default/flows/Registration_Form_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Compare_Contact_Role</name>
        <label>Compare Contact Role</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create_New_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Opportunity</defaultConnectorLabel>
        <rules>
            <name>Go_To_Opportunity_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Role_to_Compare</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_List</targetReference>
            </connector>
            <label>Go To Opportunity List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Contacts</name>
        <label>Found Contacts?</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>New_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Searched_Contact.Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Phone_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Role_to_Compare</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Contact_Created</name>
        <label>New Contact Created?</label>
        <locationX>1766</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Contact_Creation_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Contact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Contact_Screen_0</targetReference>
            </connector>
            <label>Yes-Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permission_Check</name>
        <label>Permission_Check</label>
        <locationX>1766</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Screen_2_Permission_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Permission Denied</defaultConnectorLabel>
        <rules>
            <name>Has_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_1_Input_Screen</targetReference>
            </connector>
            <label>Has Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Path_To_Choose</name>
        <label>Which Path To Choose?</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Everything</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Opportunity.Community__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Opportunity.Market_Area__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visited</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Task</targetReference>
            </connector>
            <label>Has Everything</label>
        </rules>
        <rules>
            <name>Has_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Opportunity.Community__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Opportunity.Market_Area__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Selected_Oppo_s_Stage</targetReference>
            </connector>
            <label>Has Both</label>
        </rules>
        <rules>
            <name>Market_Area_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Opportunity.Market_Area__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Opportunity.Community__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Market_Area_For_Selected_Opportunity</targetReference>
            </connector>
            <label>Market Area Missing</label>
        </rules>
        <rules>
            <name>Community_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Opportunity.Community__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Community_and_Market_Area_For_Selected_Opportunity</targetReference>
            </connector>
            <label>Community Missing</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Choice_1</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Community__c</object>
        <outputAssignments>
            <assignToReference>Input_Community_Id.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Input_MarketArea_Name</assignToReference>
            <field>Market_Area__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Input_Community_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FlowUser</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Flow_User}</expression>
    </formulas>
    <formulas>
        <name>New_Oppo_Name</name>
        <dataType>String</dataType>
        <expression>{!New_Oppo_Name_Var}</expression>
    </formulas>
    <formulas>
        <name>Task_Due_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()+2</expression>
    </formulas>
    <interviewLabel>Registration Form : Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Form : Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Contact_Role</name>
        <label>Create New Contact Role</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>New_Oppo_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Searched_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_New_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opportunity</name>
        <label>Create New Opportunity</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Create_New_Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community__c</field>
            <value>
                <elementReference>Input_Community_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Searched_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Area__c</field>
            <value>
                <elementReference>Input_MarketArea_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>New_Oppo_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Task</name>
        <label>Create New Task</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>New_task_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Task_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>RE-VISITED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Selected_Opportunity.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!Get_Searched_Contact.Name} - Re-visited</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Selected_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Contact</name>
        <label>New Contact</label>
        <locationX>1766</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>New_Contact_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Community__c</field>
            <value>
                <elementReference>Input_Community_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Area__c</field>
            <value>
                <elementReference>Input_MarketArea_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_No</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Role_to_Compare</name>
        <label>Get Contact Role to Compare</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compare_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Searched_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Searched_Contact</name>
        <label>Get Searched Contact</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone_No</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Opportunity</name>
        <label>Get Selected Opportunity</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Path_To_Choose</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Community_and_Market_Area_For_Selected_Opportunity</name>
        <label>Set Community and Market Area For Selected Opportunity</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Community_and_Market_Area_Assign_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Community__c</field>
            <value>
                <elementReference>Input_Community_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Area__c</field>
            <value>
                <elementReference>Input_MarketArea_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Visited</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Market_Area_For_Selected_Opportunity</name>
        <label>Set Market Area For Selected Opportunity</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Market_Area_Assign_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Market_Area__c</field>
            <value>
                <elementReference>Input_MarketArea_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Visited</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Oppo_s_Stage</name>
        <label>Update Selected Oppo&apos;s Stage</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Stage_Update_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Visited</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Community_and_Market_Area_Assign_screen</name>
        <label>Community_and_Market_Area_Assign_screen</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Community_and_Market_Area_Assign</name>
            <fieldText>&lt;p&gt;Market Area And Community is been assign to {!Get_Selected_Opportunity.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Creation_Error</name>
        <label>Contact Creation Error</label>
        <locationX>1898</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Contact_Error_Screen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 10, 10);&quot;&gt;Fill All The Data&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Market_Area_Assign_screen</name>
        <label>Market_Area_Assign_screen</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Market_area_assign</name>
            <fieldText>&lt;p&gt;Market Area is been assign to {!Get_Selected_Opportunity.Name}. And Stage is been updated to &quot;Visited&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Contact_Screen_0</name>
        <label>New_Contact_Screen</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>New_Contact_creation_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!New_contact_msg}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Oppo_Screen</name>
        <label>New_Oppo_Screen</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>New_Oppo</name>
            <fieldText>&lt;p&gt;[ &lt;b&gt;{!New_Oppo_Name}&lt;/b&gt; ] Is Been Created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_task_screen</name>
        <label>New_task_screen</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Task_Display</name>
            <fieldText>&lt;p&gt;New Task - [Re-visited] is been created on {!Get_Selected_Opportunity.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_List</name>
        <label>Opportunity List</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Oppo_List</name>
            <extensionName>ManagedCodeDev:Opportunity_List</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contactrecordId</name>
                <value>
                    <elementReference>Get_Searched_Contact.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Record_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Record_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Continue With Selected</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1_Input_Screen</name>
        <label>Screen 1: Input Screen</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Searched_Contact</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone_No</name>
            <dataType>String</dataType>
            <fieldText>Phone No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(21, 21, 21);&quot;&gt;Enter Valid Phone No&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Phone_No})=10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Community</name>
            <choiceReferences>Choice_1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Community</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Search Contact</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2_Permission_Error_Screen</name>
        <label>Screen 2 :Permission_Error_Screen</label>
        <locationX>2162</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Permission_Denied</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(253, 9, 9);&quot;&gt;Permission Denied&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stage_Update_Screen</name>
        <label>Stage_Update_Screen</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Stage_Change</name>
            <fieldText>&lt;p&gt;{!Get_Selected_Opportunity.Name}&apos;s Stage is been updated to &quot;Visited&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Permission_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Input_Community_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Community__c</objectType>
    </variables>
    <variables>
        <name>Input_Community_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_MarketArea_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_contact_msg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Contact - [ {!First_Name} {!Last_Name} ] is been created</stringValue>
        </value>
    </variables>
    <variables>
        <name>New_Oppo_Name_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!First_Name}&apos;s opportunity</stringValue>
        </value>
    </variables>
    <variables>
        <name>New_Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opp_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Oppo_Collection_var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Oppo_Store_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Output_contact_id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
