force-app/main/default/flows/Scheduled_flow_change_case_status_to_closed_everyday_if_status_is_verified.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>change_status_to_closed</name>
        <label>change status to closed</label>
        <locationX>835</locationX>
        <locationY>81</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_case_status_verified.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closed_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Closed_Cases</name>
        <label>Closed Cases</label>
        <locationX>835</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>ClosedCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_case_status_verified</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_case_status_verified</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Null</name>
        <label>Check For Null</label>
        <locationX>529</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_cases_with_status_verified</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_case_status_verified</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Scheduled flow- change case status to closed everyday if status is verified {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled flow- change case status to closed everyday if status is verified</label>
    <loops>
        <name>Loop_on_case_status_verified</name>
        <label>Loop on case status = verified</label>
        <locationX>539</locationX>
        <locationY>223</locationY>
        <collectionReference>Get_cases_with_status_verified</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>change_status_to_closed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_cases_with_status_verified</name>
        <label>Get cases with status = verified</label>
        <locationX>161</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_status</name>
        <label>Update Case status</label>
        <locationX>544</locationX>
        <locationY>457</locationY>
        <inputReference>ClosedCases</inputReference>
    </recordUpdates>
    <start>
        <locationX>35</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Get_cases_with_status_verified</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-07-18</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ClosedCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
