force-app/main/default/flows/Screen_Calling_Autolaunched_Calling_flow_from_Apex_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Calling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Calling Autolaunched - Calling flow from Apex flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Label</name>
        <label>Label</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_the_Auto_Launched_Flow</targetReference>
        </connector>
        <fields>
            <name>AreaBlock</name>
            <defaultValue>
                <stringValue>Launching the Auto-Launched flow - which will update the current record&apos;s stage to Closed Won</stringValue>
            </defaultValue>
            <fieldText>AreaBlock</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Label</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_the_Auto_Launched_Flow</name>
        <label>Call the Auto Launched Flow</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <flowName>Autolaunched_Calling_flow_from_Apex</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
