force-app/main/default/flows/Test_Account_Flow_001.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_current_latest_code</name>
        <label>Assign current latest code</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Current_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acc_loop.Test_Account_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Acc_loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_latest_Account_Code</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Get latest Account Code</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_Account</collectionReference>
        <connector>
            <targetReference>Assign_current_latest_code</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Test_Account_Code__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_code</name>
        <label>Check code</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>eee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>eee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewCode</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Current_code}) + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Test Account Flow 001 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Account Flow 001</label>
    <loops>
        <name>Acc_loop</name>
        <label>Acc_loop</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_all_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_latest_Account_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_code</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Account</name>
        <label>Get all Account</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Acc_loop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Account</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Current_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
